body {
	text-align: center;
	align-items: center;
}
.button {
    background-color: #eb6e80;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 15px;
    cursor: pointer;
}
.container {
	width: 710px;
	height: 520px;
	border: 3px solid pink;
	margin: auto;
}
#page-wrap {
	
	
}
.row-of-triangles {
	display: flex;
	flex-direction: row;
	margin: 15px;
}
.triangle-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 35px solid #e24e24;
}
.triangle-up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 35px solid #008f95;
}
.triangle2-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 35px solid #eb6e80;
}
.triangle2-up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 35px solid #e9b000;
}