/* universal */
a {
	text-decoration: none;
}
body {
	margin: 0;
	margin-top: 5em;
	font-family: 'Acme', sans-serif;
}

/* specific */
.btn {
    background-color: white;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
}
#two-buttons {
    text-align: center;
}
.btn-linkedin-share img {
    width: 50%;
}
.btn-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}
#row-red a {
	color: red;
}
#row-blue a {
	color: blue;
}
#row-green a {
	color: green;
}
.rows {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.row {
	display: inline-block;
	padding: 200px 100px;
}


