body {
	text-align: center;
	align-items: center;
}
.img-space-for-sale,
.img-black-hole,
.man-on-the-moon {
	width: 300px;
	height: auto;
}
#two-buttons {
    text-align: center;
}
.button {
    background-color: #eb6e80;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.btn {
	margin-bottom: 10px;
}
.btn-fb-share {
	margin-right: auto;
	margin-left: auto;
}
.line {
	width: 100px;
	height: 2px;
	border-radius: 20px;
	background-color: purple;
	margin-left: auto;
	margin-right: auto;
}
section {
	margin-top: 20px;
	margin-bottom: 20px;
}